body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	background-color:#5ea2d1;
	background-image: url(images/styling_bg.jpg);
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
}

#container {
	background: url(images/bg-content.jpg) repeat-y 0 0;
	width: 950px;
	margin: 0 auto;
}

#header_area{
	background: url(images/header.jpg) no-repeat top center;
}

#img-wedding {
	position:absolute;
	left: 268px;
	top: 179px;
	width: 452px;
	height: 75px;
	text-align:left;
/*	padding-top: 17px;
	margin-right:407px;	
*/
}
#img-wedding img{
		
}	
#img-wedding a{
	text-decoration: none;
}

#content_area{
}

#masthead {font-size:22px; font-weight:bold; color:white; padding-top:87px; margin-right:170px;}

#topheader {font-size:18px; margin-right:167px; margin-top:42px; font-weight:bold;}

#formColumn {
	width:186px;
	float:left;	
	direction:rtl;
	padding-left:115px;
	margin-top:0px;
}
#formColumn span {
	color:#62441D;
	font-size: 16px;
	font-weight: bold;
	display:block;
	text-align:center;

}
#name{ 
	width:20px;

}

.style1 {font-size: 10px}
.div-w-title {
	border:black 1px solid #F0;background-color:white;
	
}


#main {
	direction:rtl;
	font-size: 16px; 
	margin-top:-20px;
	
	font-size:16px;
	line-height:25px;
}

#main ul {


}

#question{
	color:#62441D;
	font-size:20px;
	margin-bottom:8px;
	margin-top:24px;
	text-align:center;

}
.browntext {

}

#flashplayer {
	margin-right:27px;
}


#footer_area{
	background: url(images/footer.jpg) no-repeat top center;
}


.full_width{width: 100%;}
.page{width: 950px;}

/*HEADER*/
#header{height: 519px; position: relative;}

/*CONTENT*/
#content{overflow: hidden; padding: 0 171px 0 115px;}
	#main{float: right; width: 464px;}

	
/*SIDEBAR*/	
#sidebar{ float:left !important; }

#logo{ padding-left:25px !important;}
/*FOOTER*/
#footer{height: 269px; font-size:14px; position:relative;}

#footer-details {

	margin: 0px 0px 0px -189px;
	text-align:center;
	padding-top:76px;
	overflow:hidden;
	clear:both;
}

#footer p {
	line-height:20px;
	margin:0 0 3px;	
}
#footer span {
	font-weight: bold;	
	padding-top:5px;
}
