@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#18190b;
	background-image: url(images/clali_bg.jpg);
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
}
#container {
	text-align: center;
	width: 950px;
	height:1100px;
	margin-right: auto;
	margin-left: auto;
	margin-top:0px;
	text-align:right;
	direction:rtl;
	background-image:url(images/clali.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}
#header {
	padding-top:88px;
	margin-right:170px;
	margin-left:280px;
	height:60px;
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	text-align:right;
}

#topheader
{
	margin-right:170px;
	height:45px;
	margin-left:330px;
	padding-top:10px;
	font-size:18px;
	font-weight:bold;
}

#formColum {
	width: 148px;
	height:295px;
	margin-right: 660px;
	margin-left: 136px;
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
.browntext
{
	color:#62441d;
	font-size:16px;
	font-weight: bold;
}
#rightColum {
	float: left;
	width: 203px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#footer {
width:950px;
height:269px;
margin-top:0px;
padding:0px;
background-image:url(images/footer.jpg);
background-repeat:no-repeat;
background-position:center top;
}
#footer p{
	width:440px;
	text-align:center;
	margin-right:350px;
	margin-left:160px;
	margin-top:0px;
	padding-top:80px;
	font-size:14px;
	line-height: 20px;
}


.topheader {
	background-image: url(images/headersbg.gif);
	background-repeat: repeat-x;
	height: 72px;
	margin-top: 22px;
	margin-right: 0px;
	margin-bottom: 10px;
	padding-bottom:10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-top-style: none; 
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #1c1713;

}
#maintext
{
	margin-right:178px;
	margin-left:308px;
	width: 464px;
	font-size:16px;
	line-height:23px;
}

.footertext a, .footertext a visited
{
color:#e4d8ca;
font-weight:normal;
text-decoration:none;
}
#maintext ul {
	margin-right: 15px;
	margin-bottom:8px;
	margin-top:0px;
	padding:0px;
}

/* SpryMenuBarVertical.css - Revision: Spry Preview Release 1.4 */


/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */


h2 {
	color: #62441d;
	margin-bottom: 8px;
	font-size:20px;
	margin-top: 0px;
}
